<div id="container" class="effect aside-float aside-bright mainnav-lg navbar-fixed footer-fixed">
        
        <nav-bar></nav-bar>

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                    <router-outlet></router-outlet>
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav-menu></nav-menu>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
         <footer id="footer">
                <p class="pad-lft">&#0169;  2016 © Gerencia de Planificación y Control de Gestión / División Información Analítica.</p>
         </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

