<nav id="mainnav-container">
    <div id="mainnav">

        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                <ul id="mainnav-menu" class="list-group in">
                        <li class="list-header">Navegación</li>

                    <li id-menu="1" class="active-link"><a href="#"><i class="ion-ios-pulse-strong"></i><span class="menu-title">Pulso Diario</span><i class="arrow"></i></a></li><li id-menu="2"><a href="#"><i class="fa fa-credit-card"></i><span class="menu-title">Crédito</span><i class="arrow"></i></a><ul class="collapse" aria-expanded="false"><li id-menu="3"><a href="#">Presupuesto</a></li><li id-menu="4"><a href="#">Colocación</a></li><li id-menu="5"><a href="#">Financiamento</a></li></ul></li><li id-menu="6">
                        <a href="#"><i class="fa fa-bullhorn"></i><span class="menu-title">Campañas</span><i class="arrow"></i></a><ul class="collapse" aria-expanded="false"><li id-menu="7"><a href="#">Seg. Pre Aprobados</a></li><li id-menu="8"><a href="#">Nominas</a></li></ul></li><li id-menu="9"><a href="#"><i class="fa fa-bullhorn"></i><span class="menu-title">Empresas</span><i class="arrow"></i></a><ul class="collapse" aria-expanded="false"><li id-menu="10"><a href="#">Mapa Empresa</a></li></ul></li></ul>
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>